---
import Base from "../layouts/base.astro";
import '../styles/gallery.css';

import { getCollection } from 'astro:content';
export const galleryEntries = await getCollection('gallery');
const galleryEntriesByYear = Array.from(Map.groupBy(galleryEntries, entry => entry.data.year));
---

<Base title="gallery - goatpupclover" activePage="gallery">
    <h1>art gallery</h1>
    <a class="rss" href="feed.xml"> <img src="/assets/icons/rss.png" width="40px" height="40px"> </a>
    {
      galleryEntriesByYear.reverse().map(([year, entries]) => (
      <h2 class="gallery-year">{year}</h2>
        <section class="gallery-grid" data-year={year}>
          {
            entries.reverse().map((entry) => { return (
              <a tabindex="0" href={entry.data.path} class="gallery-img" id={entry.id}>
                <img alt={entry.data.title} title={entry.data.title} class="thumb" src={entry.data.thumbnailPath} 
                    width="192px" height="192px" style="object-fit: cover;" loading="lazy" />
              </a>
            )})
          }
        </section>
      ))
    }
</Base>