---
import Base from "../layouts/base.astro";
import FormattedDate from '../components/FormattedDate.astro';
import BlogNav from './blog-nav.astro';
import '../styles/blog.css';

const { title, description, pubDate, updatedDate = undefined } = Astro.props;
const displayTitle = title.concat(" - goatgirlclover");
---

<Base title={displayTitle} activePage="blog">
  <header class="blog-info">
    <h1>{title}</h1>
    <p>{description}</p>
    <small>published <FormattedDate date={pubDate}/></small>
    {updatedDate && <small>last updated <FormattedDate date={updatedDate}/></small>}
  </header>

  <hr />

  <article class="blog-content"><slot></slot></article>

  <hr />

  <footer class="blog-footer"><BlogNav /></footer>
</Base>