---
import HeadGallery from "../layouts/fragment/head-gallery.astro";
import Body from "../layouts/fragment/body.astro";

import sanitizeHtml from 'sanitize-html';
import { markdownToTxt } from 'markdown-to-txt';
import MarkdownIt from 'markdown-it';
const parser = new MarkdownIt();

const { title, description, image, alt, width, height } = Astro.props;
const shortTitle = title.replace(/^"(.+(?="$))"$/, '$1').split("- goatgirlclover")[0].trim();

const mdDescription = sanitizeHtml(parser.render(description));
const safeTitle = title.replace(/"/g, '&quot;');
const safeDescription = markdownToTxt(description).replace(/"/g, '&quot;');
const safeAlt = alt.replace(/"/g, '&quot;');

import { galleryEntries } from "../pages/gallery.astro";
const currentEntryIndex = galleryEntries.findIndex((galleryEntries) => galleryEntries.id == Astro.params.slug);
const previousEntry = currentEntryIndex + 1 === galleryEntries.length ? undefined : galleryEntries[currentEntryIndex + 1];
const nextEntry = currentEntryIndex === 0 ? undefined : galleryEntries[currentEntryIndex - 1];
---

<html lang="en">
<HeadGallery title={safeTitle} description={safeDescription} image={image}></HeadGallery>
<Body activePage="gallery">
    <div id="gallery-focus"> 
        <header class="focus-header"> 
            <a tabindex=0 href="/gallery" class="gallery-back"><h2>back to gallery</h2></a> 
        </header> 

        <section class="focus-container"> 
            <a tabindex=0 href={image} target="_blank" class="art"> 
                <img width={width} height={height} src={image} alt={safeAlt}></a> 
            <div class="info" set:html={mdDescription}> 
                <h1 class="title">{shortTitle}</h1> 
            </div> 
	    </section> 

        <hr />
        <footer class="focus-footer"> 
            {(previousEntry || nextEntry) && (
                <nav>
                { previousEntry && ( <p>next artwork: <br /><a href={previousEntry.data.path}>{previousEntry.data.title}</a></p> ) }
                { nextEntry && ( <p>previous artwork: <br /><a href={nextEntry.data.path}>{nextEntry.data.title}</a></p> ) }
                </nav>
            )}
        </footer> 
    </div> 
</Body>
<script is:inline type="text/javascript" src="/assets/scripts/darkmode.js"></script>
<script is:inline type="text/javascript">
    const prefersReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`) === true || window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;
    if (localStorage.getItem('reducedMotion') === null && prefersReduced) { localStorage.setItem('reducedMotion', true); toggleReducedMotion(); }
</script>
</html>